In [1]:
print("helllo")

helllo

In [2]:
x = 14

In [3]:
print(id(x))

4356203160

In [4]:
x = x + 2

print(x)

16

In [5]:
print(id(x))

4356203224

In [6]:
mas = [1, 2, 3]

In [7]:
print(id(mas))

4411714496

In [8]:
mas.append(4)
print(mas)

[1, 2, 3, 4]

In [9]:
print(id(mas))

4411714496

In [10]:
mas[0] = 12

print(mas)

[12, 2, 3, 4]

In [11]:
print(id(mas))

4411714496

In [14]:
mas = [1, 2, 3]

for i in range(4, 26):
    mas.append(i)
    print(mas, mas.__sizeof__())

[1, 2, 3, 4] 96
[1, 2, 3, 4, 5] 96
[1, 2, 3, 4, 5, 6] 96
[1, 2, 3, 4, 5, 6, 7] 96
[1, 2, 3, 4, 5, 6, 7, 8] 136
[1, 2, 3, 4, 5, 6, 7, 8, 9] 136
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 136
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] 136
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 136
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13] 200
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14] 200
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] 200
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16] 200
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17] 200
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18] 200
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19] 200
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] 200
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21] 272
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22] 272
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23] 272
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24] 272
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25] 272

In [ ]:
mas = [1, 2, 3, 5]

mas2 = mas

mas2[1] = 777

print(id(mas), id(mas2))
print(mas, mas2)

4412257408 4412258560
[1, 2, 3, 5] [1, 777, 3, 5]

In [ ]:
tup = (1, 2, 3)
tup2 = 2, 4, 5

In [22]:
mas = [0] * 5

mat = []

for i in range(5):
    mat.append(mas)

In [23]:
mat

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [25]:
mat[0][1] = 77

In [26]:
mat

[[0, 77, 0, 0, 0],
 [0, 77, 0, 0, 0],
 [0, 77, 0, 0, 0],
 [0, 77, 0, 0, 0],
 [0, 77, 0, 0, 0]]

set множество

In [ ]:
sett = {1, 2, 3}

<class 'set'>

In [28]:
sett.add(8)
sett

{1, 2, 3, 8}

In [30]:
sett.discard(10)
sett

{1, 2, 3}

In [32]:
sett.remove(10)
sett

KeyError: 10

In [34]:
x = sett.pop()

In [35]:
print(x)

2

In [36]:
sett2 = {1, 3, 4, 51, 1}

In [37]:
sett2

{1, 3, 4, 51}

In [40]:
a = {"банан", "клубника", "вишня"}
b = {"вишня", "персик", "абрикос"}

In [41]:
print(a.union(b), a | b)
print(a.intersection(b), a & b)
print(a.difference(b), a - b)
print(a.symmetric_difference(b), a ^ b)

{'вишня', 'клубника', 'банан', 'абрикос', 'персик'} {'вишня', 'клубника', 'банан', 'абрикос', 'персик'}
{'вишня'} {'вишня'}
{'банан', 'клубника'} {'банан', 'клубника'}
{'клубника', 'банан', 'персик', 'абрикос'} {'клубника', 'банан', 'персик', 'абрикос'}

In [ ]:
mas = [12, 34, 1, 29, 300]
sett = set(mas)

In [43]:
import time

In [47]:
x = time.time()

for i in range(100_000_000):
    flag = i in mas

print(time.time() - x)

7.98705792427063

In [48]:
x = time.time()

for i in range(100_000_000):
    flag = i in sett

print(time.time() - x)

5.0623250007629395

In [ ]:
x = time.time()

for i in range(100_000_000):
    flag = i in mas

print(time.time() - x)

In [51]:
x = time.time()

for i in range(100_000_000):
    mas.append(i)

print(time.time() - x)

5.203287839889526

In [55]:
x = time.time()

for i in range(100_000_000):
    sett.add(i)

print(time.time() - x)

8.825298070907593

dict словарь

In [56]:
d = {'Вова': 47, 'Юля': 100}

In [57]:
print(d)

{'Вова': 47, 'Юля': 100}

In [58]:
print(d['Вова'])

47

In [63]:
bank_database = {
    117_100: {
        "Name": "Vova",
        "Age": 23,
        "Pin": 1111,
        "Balance": 10_000
    },
    117_101: {
        None
    }
}

In [66]:
bank_id = int(input("Введите номер вашего Л/С: "))

name = bank_database[bank_id]["Name"]

pin = int(input("Здравствуйте, " + name + "! Введите ваш pin-код: "))

if bank_database[bank_id]["Pin"] == pin:
    print("Ваш баланс:", bank_database[117_100]["Balance"])
else:
    print("Пин-код не верный")

Пин-код не верный

In [67]:
bank_database.keys()

dict_keys([117100, 117101])

In [68]:
bank_database[117100].keys()

dict_keys(['Name', 'Age', 'Pin', 'Balance'])

In [78]:
mas = [1, 2, 3, 4, 5]
mas2 = [100, 200, 400, 450, 5590]

d = dict(zip(mas, mas2))

In [79]:
d

{1: 100, 2: 200, 3: 400, 4: 450, 5: 5590}

In [72]:
list(zip(mas, mas2))

[(1, 100), (2, 200), (3, 400), (4, 450), (5, 5590)]

In [75]:
mas3 = [4, 4, 4, 4, 5]

In [76]:
for i in zip(mas, mas2, mas3):
    print(i)

(1, 100, 4)
(2, 200, 4)
(3, 400, 4)
(4, 450, 4)
(5, 5590, 5)